<div id="content">

  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">

        <sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Expenses</h2>
          </header>
          <div>
            <div class="widget-body  ">
<div id="content">
  <sa-widgets-grid>

<!--<div class="content-top clearfix">
  <h1 class="al-title">{{ activePageTitle }}</h1>
  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item active">{{ activePageTitle }}</li>
  </ul>
</div>-->
<div class="row">
      <div class="col-sm-12">
    <!-- first modal: modal with custom header, content and footer -->
    <div>
      <modal #firstModal>
        <modal-content *ngIf="expense">
          <div *ngIf="isnewvalue">
            <img *ngIf="isnewvalue" src="data:image/jpg;base64,{{expense.bill}}" />
          </div>
          <div class="col-sm-6" *ngIf="!isnewvalue">
            <h1 *ngIf="!isnewvalue">Bill is not available</h1>
          </div>
        </modal-content>
      </modal>
    </div>
    <div id="expenses-page">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <label class="col-sm-9 control-label">Driver</label>
                  <div class="controls col-sm-4">
                    <ng-select [options]="driverNamesList" [multiple]="false" placeholder="Select one" [allowClear]="false" [placeholder]="'Select Driver'"
                      [(ngModel)]="driver.empID" name="driverNamesList" name="empID" [ngModelOptions]="{standalone: true}"
                      (selected)="getAllExpenses($event)"></ng-select>
                    <span *ngIf="this.formValidate && driver.empID.length==0" class="alert redFont ">Please Select Driver</span>
                  </div>
                  <div class="form-group col-sm-3">
                    <div id="content" style="display: none;" class="fancybox"><img id="billImage" alt="img1" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="animated fadeIn card">
              <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                  <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                      <div id="palsDealers_filter" class="dataTables_filter">
                        <label>Search:<input class="form-control input-sm" placeholder="" aria-controls="palsDealers" [(ngModel)]="filterQuery"></label>
                      </div>
                    </div>
                  </div>
                  <table id="palsdrivers" class="dataTable responsive table table-striped table-bordered table-hover dtr-inline"
                    [mfData]="expenseslist | expensesDataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                    [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" cellspacing="0" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
                    (mfOnPageChange)="onPageChange($event)"  width="100%">
                    <thead>
                      <tr>
                        <th th style="width: 20%">
                          <mfDefaultSorter by="driverName">Driver Name</mfDefaultSorter>
                        </th>
                        <th th style="width: 20%">
                          <mfDefaultSorter by="loadNum">Load Number</mfDefaultSorter>
                        </th>
                        <th th style="width: 20%">
                          <mfDefaultSorter by="expenseType">Expense Type</mfDefaultSorter>
                        </th>
                        <th th style="width: 20%">
                          <mfDefaultSorter by="amount">Expenses Amount</mfDefaultSorter>
                        </th>
                        <th th style="width: 20%">
                          <mfDefaultSorter by="billDate">Bill Date</mfDefaultSorter>
                        </th>
                        <th th style="width: 20%">
                          <mfDefaultSorter>Bill Info</mfDefaultSorter>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="gradeA odd" role="row" *ngFor="let expenseslist of mf.data">
                        <td>{{expenseslist.driverName}}</td>
                        <td>{{expenseslist.loadNum}}</td>
                        <td>{{expenseslist.expenseType}}</td>
                        <td>{{expenseslist.amount}}</td>
                        <td>{{expenseslist.billDate}}</td>
                        <td class=" center">
                          <!--(click)="firstModal.open()"-->
                          <button class='load_viewmore btn btn btn-success' (click)="goToConvertImage(expenseslist.id);firstModal.open();" type='button'> <i class='fa fa-eye'></i> Show</button>
                          <!--<button class='load_viewmore btn btn btn-success' (click)="openPopup('small',expense)" (click)="goToConvertImage(expenseslist.id)"
																	type='button'> <i class='fa fa-eye'></i> Show</button>-->
                          <!--<img src="data:image/jpg;base64,{{expenseslist.bill}}" />-->
                          <!--<ng2-popup #popup>
                          </ng2-popup>-->
                        </td>
                      </tr>
                      <tr *ngIf="mf.data.length===0" class="odd">
                        <td valign="top" colspan="3" class="dataTables_empty">No records found</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>
                          <mfDefaultSorter by="driverName">Driver Name</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="loadNum">Load Number</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="expenseType">Expense Type</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="amount">Expenses Amount</mfDefaultSorter>
                        </th>
                        <th>
                          <mfDefaultSorter by="billDate">Bill Date</mfDefaultSorter>
                        </th>
                        <th>Bill Info</th>
                      </tr>
                      <tr>
                        <td colspan="10" align="right">
                          <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </sa-widgets-grid>
</div>
                          
          </div>
          </div>
          </sa-widget>
        </div>
    </div>
  </sa-widgets-grid>
</div>