<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">

        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Add Load</h2>
          </header>
          <div class="widget-body">

            <section *ngIf="loadAddSuccess" style="color:#468847;text-align: center;"> {{loadAddSuccess}} </section>
            <section *ngIf="loadAddFailure" style="color:red;text-align: center;"> {{loadAddFailure}} </section>
            <br>

            <form [formGroup]="complexForm" class="form" (ngSubmit)="submitForm(complexForm.value)" method="post">
              <div>
                <div class="row">
                  <label class="col-sm-2 control-label" for="loadNum" [ngClass]="{'has-error':! this.loadNum.valid &&  this.formValidate}">
															Load Number <font class="redFont">*</font>
														</label>
                  <div class="controls col-sm-4">
                    <input type="text" id="loadNum" class="form-control" maxlength="10" name="loadNum" size="30" [formControl]="this.loadNum"
                      [(ngModel)]="load.loadNum">
                    <span *ngIf=" this.loadNum.hasError('required') &&  this.formValidate" class="text-danger ">Please Enter	Load Number </span>
                    <span *ngIf=" this.loadNum.hasError('pattern') " class="text-danger">Please Enter Only Digits</span>
                  </div>
                  <div class="controls col-sm-4" *ngIf="load">
                    <label class="form-control highLoad"> <input id="load_high_value" type="checkbox" class="i-checks" [(ngModel)]="load.loadHighValue" [ngModelOptions]="{standalone: true}" name='loadHighValue' (ngModelChange)="load.loadHighValue=$event?'1':'0'"> High Value </label>
                  </div>
                </div>
                <br>
                <div class="row">
                  <label class="col-sm-2 control-label" for="empID">
														Driver <font class="redFont">*</font>
													</label>
                  <div class="controls col-sm-4" *ngIf="load">
                    <!--<select2 id="driversList" [data]="driverNameListData" [width]="200" [options]="driversOptions"  (valueChanged)="driverChanged($event)">
                               
                             </select2>-->

                    <select select2 id="driversList" style="width:100%" class="select2 form-control" placeholder="priority">
                                        <option *ngFor="let options of driverNameListData" [value]="options.id">{{options.text}}</option>
                                    </select>

                    <span *ngIf="this.formValidate && load.driverMailId.length==0" class="text-danger ">Please Select Driver</span>
                  </div>
                  <div class="controls col-sm-4" *ngIf="load">
                    <label class="form-control highPriority"> <input
															id="load_high_priority" type="checkbox" class="i-checks"  [(ngModel)]="load.loadHighPriority" [ngModelOptions]="{standalone: true}" name='loadHighPriority' (ngModelChange)="load.loadHighPriority=$event?'1':'0'">
															High Priority
														</label>
                  </div>
                </div>
                <br>
                <div class="row">
                  <label class="col-sm-2 control-label" for="driverEmail">
														Driver Email </label>
                  <div class="controls col-sm-4">
                    <input type="text" id="driverEmail" class="form-control" name="driverMailId" disabled size="30" [(ngModel)]="load.driverMailId"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <br>
                <div class="row">
                  <label class="col-sm-2 control-label" for="loadNum" [ngClass]="{'has-error':! this.skidDrops.valid &&  this.formValidate}">
															Skid Drops/Vehicles <font class="redFont">*</font>
														</label>
                  <div class="controls col-sm-4">
                    <input type="number" [formControl]="this.skidDrops" min="1" step="1" id="skidDrops" class="form-control" name="skidDrops"
                      [(ngModel)]="load.skidDrops" (ngModelChange)="dealerModelChanged(load.skidDrops)">
                    <span *ngIf=" this.skidDrops.hasError('required') &&  this.formValidate" class="text-danger ">Please Enter	Skid drops </span>
                    <span *ngIf=" this.skidDrops.hasError('pattern') " class="text-danger">Please Enter Only Digits</span>
                  </div>
                </div>
                <br>
                <div class="row ">
                  <label class="col-sm-2 control-label" for="dealercds">
															Dealers <font class="redFont">*</font>
														</label>
                  <div class="controls col-sm-4" *ngIf="load">
                    <!--<select2 id="dealersList" [options]="dealerOptions" [data]="dealerNameListData" [width]="300"  (valueChanged)="dealerChanged($event)"></select2>
                            -->

                    <select select2 multiple id="dealersList" style="width:100%" class="select2 form-control" placeholder="priority">
                                        <option *ngFor="let options of dealerNameListData" [value]="options.id">{{options.text}}</option>
                                    </select>


                    <span *ngIf="this.formValidate && load.dealerAddress.length==0" class="text-danger "><br>Please Select Dealer</span>
                    <span *ngIf="!skiDropsMismatched" class="text-danger "><br>Selected/Entered Dealers Must Be Equal To Number Of Skid Drops</span>
                  </div>
                </div>
                <br>
                <div class="row">
                  <label class="col-sm-2 control-label" for="dealerAddress">
														Dealer Address </label>
                  <div class="controls col-sm-4">
                    <input type="text" id="dealerAddress" class="form-control" name="dealerAddress" disabled size="30" [(ngModel)]="load.dealerAddress"
                      [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <br>
                <div class="row">
                  <label class="col-sm-2 control-label" for="trkNum" [ngClass]="{'has-error':! this.trkNum.valid &&  this.formValidate}">
														Truck Number <font class="redFont">*</font>
													</label>
                  <div class="controls col-sm-4">
                    <input type="text" id="trkNum" class="form-control" minlength="7" maxlength="10" name="trkNum" size="30" [formControl]="this.trkNum"
                      [(ngModel)]="load.trkNum">
                    <span *ngIf=" this.trkNum.hasError('required') &&  this.formValidate" class="text-danger ">Please Enter Truck Number</span>
                    <span *ngIf=" this.trkNum.hasError('minlength') && !this.trkNum.hasError('pattern') " class="text-danger">Please enter minimum 7 alphanummeric characters</span>
                    <span *ngIf=" this.trkNum.hasError('pattern')&& !this.trkNum.hasError('minlength') " class="text-danger">Only characters are not allowed </span>
                  </div>
                </div>
                <br>
                <div class="control-group row col-sm-7">
                  <div class="controls col-sm-5 pull-right">
                    <button type="button" id="load_submit" class="btn btn-success " (click)="submitForm()">
															<i class="fa fa-save"></i> Save
														</button>
                    <button type="button" class="btn btn-warning" (click)="goBack()">Cancel</button>
                  </div>
                  <div class="controls col-sm-3"></div>
                </div>
              </div>
            </form>

          </div>
        </sa-widget>
      </div>
    </div>
  </sa-widgets-grid>
</div>