<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-sm-12">
        <!-- MAIN CONTENT -->
        <sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Edit Car</h2>
          </header>
          <div class="widget-body  ">
            <fieldset>

              <section *ngIf="carUpdateSuccess" style="color:#468847;text-align: center;"> {{carUpdateSuccess}} </section>
              <section *ngIf="carUpdateFailure" style="color:red;text-align: center;"> {{carUpdateFailure}} </section>

              <br>
              <form class="form carUpdateForm" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)" name="carUpdateForm"
                id="carUpdateForm" action="javascript:void(0)" method="post">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_loadNum">
														Load Number 
														<font class="text-danger">*</font>
													</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [formControl]="this.loadNum" [(ngModel)]="car.loadNum" type="number" id="update_loadNum" name="loadNum"
                          size="30" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="dealerNameDetails">
														Dealer Name 
															<font class="text-danger">*</font>
														</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" id="dealerNameDetails" [(ngModel)]="car.dealerName" name="dealerName" [ngModelOptions]="{standalone: true}"
                          size="30" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row" style="display:none">
                  <div class="col-smy
											-6">
                    <div class="row" style="display:none;">
                      <label class="col-sm-4 control-label" for="update_affil">
														Affil 
															<font class="text-danger">*</font>
														</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" type="text" id="update_affil" name="affil" size="30" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row" style="display:none;">
                      <label class="col-sm-4 control-label" for="update_shipId">
														ShipId 
																<font class="text-danger">*</font>
															</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" type="text" id="update_shipId" name="shipId" size="30" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label form-group" for="update_vin">
														VIN No 
																	<font class="text-danger">*</font>
																</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [formControl]="this.vin" minlength="17" maxlength="17" type="text" id="update_vin" name="vin"
                          size="30" [(ngModel)]="car.vin" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_dealerAddress">
														Dealer Address </label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input type="text" id="update_dealerAddress" class="form-control" name="dealerAddress" size="30" [(ngModel)]="car.dealerAddress"
                          [ngModelOptions]="{standalone: true}" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_loadSeq">
														Load Sequence 
																			<font class="text-danger">*</font>
																		</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [formControl]="this.loadSeq" [(ngModel)]="car.loadSeq" type="number" id="update_loadSeq" name="loadSeq"
                          size="30" min="1" max="2" readonly>
                        <span *ngIf="this.loadSeq.hasError('required') &&  this.formValidate" class="text-danger ">Please enter numbers only</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label form-group" for="update_yardId" [ngClass]="{'has-error':! this.yardId.valid &&  this.formValidate}">
														YardId 
																				<font class="text-danger">*</font>
																			</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [(ngModel)]="car.yardId" minlength="5" maxlength="5" type="text" id="update_yardId" name="yardId"
                          size="30" [formControl]=" this.yardId">
                        <span *ngIf=" this.yardId.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Yard ID</span>
                        <span *ngIf=" this.yardId.hasError('minlength')&& !this.yardId.hasError('pattern')" class="text-danger">Please Enter minimum 5 alphanumeric characters</span>
                        <span *ngIf=" this.yardId.hasError('pattern') && this.yardId.hasError('minlength')" class="text-danger">Please Enter alphanumeric characters only</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_lotLocation" [ngClass]="{'has-error':! this.lotLocation.valid &&  this.lotLocation}">
														Lot Location
													</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [(ngModel)]="car.lotLocation" type="text" id="update_lotLocation" maxlength="7" name="lotLocation"
                          size="30" [formControl]=" this.lotLocation">
                        <span *ngIf=" this.lotLocation.hasError('pattern')" class="text-danger">Please Enter characters only</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_colorDesc" [ngClass]="{'has-error':! this.colorDesc.valid &&  this.colorDesc}">
														Color
													</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [(ngModel)]="car.colorDesc" type="text" id="colorDesc" maxlength="20" name="colorDesc" size="30"
                          [formControl]=" this.colorDesc">
                        <span *ngIf="this.colorDesc.hasError('pattern')" class="text-danger ">Please Enter characters only</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_parkingSpot" [ngClass]="{'has-error':! this.parkingSpot.valid &&  this.parkingSpot}">
														Lot-Bay
													</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [(ngModel)]="car.parkingSpot" type="text" id="update_parkingSpot" maxlength="20" name="parkingSpot"
                          size="30" [formControl]=" this.parkingSpot">
                        <span *ngIf="this.parkingSpot.hasError('pattern')" class="text-danger ">Please Enter alphanumeric characters only</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="row">
                      <label class="col-sm-4 control-label" for="update_vinDesc" [ngClass]="{'has-error':! this.vinDesc.valid &&  this.vinDesc}">
														Vin Description
													</label>
                      <div class="controls col-sm-6" *ngIf="car">
                        <input class="form-control" [(ngModel)]="car.vinDesc" type="text" id="update_vinDesc" maxlength="30" name="vinDesc" size="30"
                          [formControl]=" this.vinDesc">
                        <span *ngIf="this.vinDesc.hasError('pattern')" class="text-danger ">Please Enter characters only</span>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="hr-line-dashed"></div>
                <div class="row">
                  <div class="control-group col-sm-6 col-sm-offset-6">
                    <button type="submit" id="vin_submit" class="btn btn-success">
																								<i class="fa fa-save"></i> Save</button>
                    <a (click)="goBack()" class="btn btn-warning">Cancel</a>
                  </div>
                </div>
              </form>
            </fieldset>

          </div>
        </sa-widget>
      </div>

    </div>
  </sa-widgets-grid>
</div>