<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>
<div [hidden]="serviceErrorData" id="content">
	<sa-widgets-grid>
		<div sa-widget [editbutton]="false" [deletebutton]="false">
			<header>
				<span class="widget-icon">
					<i class="fa fa-table"></i>
				</span>
				<h2>Users Details </h2>
				<div *ngIf="userWidget" class="widget-toolbar" role="menu">
					<a class="btn btn-primary" routerLink="/admin/users/adduser"> Add User</a>
				</div>
			</header>


			<div>
				<!-- widget content -->
				<div class="widget-body">
					<section *ngIf="userlistMessage" class="text-success text-center"> {{userlistMessage}} </section>
					<sa-datatable id="DataTable" [options]="options" tableClass="table table-striped table-bordered table-hover" paginationLength="true"
					    width="100%">
						<thead>
							<tr>
								<th>User ID</th>
								<th>User Name</th>
								<th>Mail Id</th>
								<th data-class="expand">Phone No</th>
								<th>Role</th>
								<th>Edit/Delete </th>
							</tr>
						</thead>

						<tfoot>
							<tr>
								<th>User ID</th>
								<th>User Name</th>
								<th>Mail Id</th>
								<th>Phone No</th>
								<th>Role</th>
								<th>Edit/Delete </th>
							</tr>
						</tfoot>
					</sa-datatable>
				</div>
			</div>
		</div>
	</sa-widgets-grid>
</div>