<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <!-- MAIN CONTENT -->
                <sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Edit Dealer</h2>
                    </header>
                    <div class="widget-body  ">
                        <fieldset>

                            <section *ngIf="dealerUpdateSuccess" style="color:#468847;text-align: center;"> {{dealerUpdateSuccess}} </section>
                            <section *ngIf="dealerUpdateFailure" style="color:red;text-align: center;"> {{dealerUpdateFailure}} </section>

                            <br>
                            <form [formGroup]="complexForm" class="form" (ngSubmit)="submitForm(complexForm.value)">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.dealerCd.valid &&  this.formValidate}">
                                                        Dealer Number<font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" maxlength="1" maxlength="7" [formControl]="this.dealerCd" [(ngModel)]="dealerData.dealerCd"
                                                    readonly>
                                                <span *ngIf=" this.dealerCd.hasError('required') &&  this.formValidate" class="text-danger ">Please Enter Dealer Number</span>
                                                <span *ngIf=" this.dealerCd.hasError('pattern') " class="text-danger">Please enter only Numbers</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.contact.valid &&  this.formValidate}">
                                                        Inspector <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" maxlength="20" [formControl]=" this.contact" [(ngModel)]="dealerData.contact">
                                                <span *ngIf=" this.contact.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Inspector</span>
                                                <span *ngIf=" this.contact.hasError('pattern') " class="text-danger">Please enter only alphabets</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.desc.valid &&  this.formValidate}">
                                                        Dealer Name <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" maxlength="30" type="text" [formControl]=" this.desc" [(ngModel)]="dealerData.desc">
                                                <span *ngIf=" this.desc.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Dealer Name</span>
                                                <span *ngIf=" this.desc.hasError('pattern') " class="text-danger">Please enter only alphabets</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.phone.valid &&  this.formValidate}">
                                                        Primary Phone No. <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" minlength="10" maxlength="16" size="30" [formControl]=" this.phone" [(ngModel)]="dealerData.phone">
                                                <span *ngIf="this.phone.hasError('required') && this.formValidate" class="text-danger ">Please enter Primary Phone Number</span>
                                                <span *ngIf="this.phone.hasError('minlength') && !this.phone.hasError('pattern')" class="text-danger">Phone Number Should be Min 10 digits</span>
                                                <span *ngIf="this.phone.hasError('pattern')" class="text-danger">Please enter only digits</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.affil.valid &&  this.formValidate}">
                                                        Affil <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" maxlength="3" minlength="3" [formControl]=" this.affil" [(ngModel)]="dealerData.affil"
                                                    readonly>
                                                <span *ngIf=" this.affil.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Affil</span>
                                                <span *ngIf=" this.affil.hasError('pattern') " class="text-danger">Please enter only digits</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.phone2.valid &&  this.formValidate}">
                                                        Secondary Phone No.
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" minlength="10" maxlength="16" type="text" size="30" [formControl]=" this.phone2" [(ngModel)]="dealerData.phone2">
                                                <span *ngIf="this.phone2.hasError('minlength') && !this.phone2.hasError('pattern')" class="text-danger">Phone Number Should be Min 10 digits</span>
                                                <span *ngIf="this.phone2.hasError('pattern')" class="text-danger">Please enter only digits</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.shipId.valid &&  this.formValidate}">
                                                        Ship ID <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" maxlength="4" minlength="3" type="text" [formControl]=" this.shipId" [(ngModel)]="dealerData.shipId"
                                                    readonly>
                                                <span *ngIf=" this.shipId.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Ship ID</span>
                                                <span *ngIf=" this.shipId.hasError('pattern') " class="text-danger">Please enter only alphabets</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.email1.valid &&  this.formValidate}">
                                                        Primary Email <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" [formControl]=" this.email1" [(ngModel)]="dealerData.email1">
                                                <span *ngIf=" this.email1.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Primary Email</span>
                                                <span *ngIf=" this.email1.hasError('pattern') " class="text-danger">Please enter a valid email address</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.address.valid &&  this.formValidate}">
                                                        Address <font class="text-danger">*</font>
                                                    </label>

                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" name="address" maxlength="30" [formControl]=" this.address" id="address" (ngModelChange)="onchange(this.address)"
                                                    [(ngModel)]="dealerData.address">
                                                <span *ngIf=" this.address.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Address</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.email2.valid &&  this.formValidate}">
                                                        Secondary Email
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" maxlength="30" [formControl]=" this.email2" [(ngModel)]="dealerData.email2">
                                                <span *ngIf=" this.email2.hasError('pattern') " class="text-danger">Please enter a valid email address</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! city.valid &&  this.formValidate}">
                                                        City <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">

                                                <input class="form-control" type="text" maxlength="20" name="city" id="city" [formControl]="city" [(ngModel)]="dealerData.city">

                                                <span *ngIf="city.hasError('required') &&  formValidate" class="text-danger ">Please Enter City</span>
                                                <span *ngIf=" city.hasError('pattern') " class="text-danger">Please enter only alphabets</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" for="latitude" [ngClass]="{'has-error':! latitude.valid &&  this.formValidate}">
                                                        Latitude <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" id="latitude" name="latitude" [formControl]="latitude" [(ngModel)]="dealerData.latitude"
                                                    readonly>
                                                <span *ngIf="latitude.hasError('required') &&  formValidate" class="text-danger ">Please Enter Latitude</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.state.valid &&  this.formValidate}">
                                                        State <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <select name="state" class="form-control select2" class="form-control" [formControl]=" this.state" [(ngModel)]="dealerData.state">
                                                            <option value=''>Select State</option>
                                                            <option value="AL">Alabama</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="AZ">Arizona</option>
                                                            <option value="AR">Arkansas</option>
                                                            <option value="CA">California</option>
                                                            <option value="CO">Colorado</option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="DE">Delaware</option>
                                                            <option value="DC">Dist of Columbia</option>
                                                            <option value="FL">Florida</option>
                                                            <option value="GA">Georgia</option>
                                                            <option value="HI">Hawaii</option>
                                                            <option value="ID">Idaho</option>
                                                            <option value="IL">Illinois</option>
                                                            <option value="IN">Indiana</option>
                                                            <option value="IA">Iowa</option>
                                                            <option value="KS">Kansas</option>
                                                            <option value="KY">Kentucky</option>
                                                            <option value="LA">Louisiana</option>
                                                            <option value="ME">Maine</option>
                                                            <option value="MD">Maryland</option>
                                                            <option value="MA">Massachusetts</option>
                                                            <option value="MI">Michigan</option>
                                                            <option value="MN">Minnesota</option>
                                                            <option value="MS">Mississippi</option>
                                                            <option value="MO">Missouri</option>
                                                            <option value="MT">Montana</option>
                                                            <option value="NE">Nebraska</option>
                                                            <option value="NV">Nevada</option>
                                                            <option value="NH">New Hampshire</option>
                                                            <option value="NJ">New Jersey</option>
                                                            <option value="NM">New Mexico</option>
                                                            <option value="NY">New York</option>
                                                            <option value="NC">North Carolina</option>
                                                            <option value="ND">North Dakota</option>
                                                            <option value="OH">Ohio</option>
                                                            <option value="OK">Oklahoma</option>
                                                            <option value="OR">Oregon</option>
                                                            <option value="PA">Pennsylvania</option>
                                                            <option value="RI">Rhode Island</option>
                                                            <option value="SC">South Carolina</option>
                                                            <option value="SD">South Dakota</option>
                                                            <option value="TN">Tennessee</option>
                                                            <option value="TX">Texas</option>
                                                            <option value="UT">Utah</option>
                                                            <option value="VT">Vermont</option>
                                                            <option value="VA">Virginia</option>
                                                            <option value="WA">Washington</option>
                                                            <option value="WV">West Virginia</option>
                                                            <option value="WI">Wisconsin</option>
                                                            <option value="WY">Wyoming</option>
                                                        </select>
                                                <span *ngIf=" this.state.hasError('required') &&  this.formValidate" class="text-danger ">Please Select State</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.longtitude.valid &&  this.formValidate}">
                                                        Longitude <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" name="longtitude" [formControl]=" this.longtitude" id="longtitude" [(ngModel)]="dealerData.longtitude"
                                                    readonly>
                                                <span *ngIf=" this.longtitude.hasError('required') &&  this.formValidate" class="text-danger ">Please Enter Longtitude</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.zipCode.valid &&  this.formValidate}">
                                                        Zipcode <font class="text-danger">*</font>
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" minlength="5" maxlength="5" name="zipCode" [formControl]=" this.zipCode" id="zipCode"
                                                    [(ngModel)]="dealerData.zipCode">
                                                <span *ngIf=" this.zipCode.hasError('required') &&  this.formValidate" class="text-danger ">Please enter Zipcode</span>
                                                <span *ngIf=" this.zipCode.hasError('minlength') && !this.zipCode.hasError('pattern') " class="text-danger">Please Enter exactly 5 digits</span>
                                                <span *ngIf=" this.zipCode.hasError('pattern') " class="text-danger">Please Enter only digits</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label form-group" [ngClass]="{'has-error':! this.instruction.valid &&  this.formValidate}">
                                                        Special Instructions
                                                    </label>
                                            <div class="controls col-sm-6" *ngIf="dealerData">
                                                <input class="form-control" type="text" maxlength="70" [formControl]="this.instruction" [(ngModel)]="dealerData.instruction">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="control-group col-sm-6 col-sm-offset-6">
                                            <button type="submit" id="dealer_submit" class="btn btn-success " (click)="updateDealerForm(dealerData)">
                                                        <i class="fa fa-save"></i> Submit
                                                    </button>
                                            <button type="button" class="btn btn-warning" (click)="goBack()">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>

                    </div>
                </sa-widget>
            </div>

        </div>
    </sa-widgets-grid>
</div>