<div id="content">

  <sa-widgets-grid>

    <div class="row">

      <div class="col-sm-12">

        <sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Fuel Stations</h2>
           
          </header>
          <div>
            <div class="widget-body  ">
<div id="content">
  <sa-widgets-grid>


<!--<div class="content-top clearfix">
  <h1 class="al-title">{{ activePageTitle }}</h1>
  <ul class="breadcrumb al-breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/fuel">Fuel Stations</a></li>
    <li class="breadcrumb-item active">{{ activePageTitle }}</li>
  </ul>
</div>-->
<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div id="loads-page">
      <div class="container">
        <div class="modal modal-fullscreen fade" id="add_fuelstation_Modal" role="dialog">
          <div class="modal-dialog confirm_model">
            <div class="modal-content confirmDialogueBox">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add FuelStation</h4>
              </div>
              <div class="modal-body">
                <p>You are about to add this location to service.</p>
                <p>Do you want to proceed..?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn add_fuelstation">Yes</button>
                <button type="button" class="btn btn-primary btn" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wrapper border-bottom white-bg page-heading custom-font">
        <div class="col-lg-2"></div>
      </div>
      <div class="wrapper wrapper-content animated fadeInRight custom-font">
        <div class="row">
          <div class="col-lg-12">
            <div class="animated fadeIn card">
              <div class="card-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                  <div id="successmessage"></div>
                  <div id="updatesuccessmessage"></div>
                  <flash-messages></flash-messages>
                  <div id="errorblock"></div>
                  <form [formGroup]="complexForm" class="form" (ngSubmit)="submitForm(complexForm.value)" method="post">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="row">
                          <label class="col-sm-4 control-label" for="fuelName" [ngClass]="{'has-error':!this.fuelName.valid && this.fuelName}">
																										Name

														<font class="redFont">*</font>
													</label>
                          <div class="controls col-sm-6" *ngIf="fuel">
                            <input class="form-control" maxLength="30" type="text" name="fuelName" size="30" [formControl]="this.fuelName" value="{{fuel.name}}"
                              [(ngModel)]="fuel.name">
                            <span *ngIf=" this.fuelName.hasError('required') &&  this.formValidate" class="alert redFont ">Please Enter FuelStation Name</span>
                            <span *ngIf="this.fuelName.hasError('pattern')" class="alert redFont">Please Enter alphanumerics only</span>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-sm-4 control-label" for="address" [ngClass]="{'has-error':!this.address.valid &&this.address}">
																												Address
															<font class="redFont">*</font>
														</label>
                          <div class="controls col-sm-6" *ngIf="fuel">
                            <input class="form-control" type="text" name="address" id="address" [formControl]="this.address" value="{{fuel.address}}"
                              [(ngModel)]="fuel.address" placeholder="Enter a location" (keyup)="onchange(this.address,fuel)">
                            <span *ngIf="fuelAddressList ">
															<div >
															<div class = "mapbox_address" *ngFor="let fuelItem of fuelAddressList">
																<p (click)="fuelItemSelected(fuelItem)" >{{fuelItem.value}}</p>
															</div>
															</div>
														</span>

                            <span *ngIf=" this.address.hasError('required') &&  this.formValidate" class="alert redFont ">Please Enter Fuel Station Address</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <label class="col-sm-4 control-label" for="latitude" [ngClass]="{'has-error':!this.latitude.valid && this.latitude}">
																												Latitude
																<font class="redFont">*</font>
															</label>
                          <div class="controls col-sm-6" *ngIf="fuel">
                            <input class="form-control" maxLength="30" type="text" name="latitude" size="30" [formControl]="this.latitude" value="{{fuel.latitude}}"
                              [(ngModel)]="fuel.latitude" readonly>
                            <span *ngIf="this.latitude.hasError('required') &&  this.formValidate" class="alert redFont ">Please Enter Latitude</span>
                          </div>
                        </div>
                        <div class="row">
                          <label class="col-sm-4 control-label" for="longitude" [ngClass]="{'has-error':!this.longitude.valid &&this.longitude}">
																												Longitude
																	<font class="redFont">*</font>
																</label>
                          <div class="controls col-sm-6" *ngIf="fuel">
                            <input class="form-control" maxLength="30" type="text" name="latitude" size="30" [formControl]="this.longitude" value="{{fuel.longitude}}"
                              [(ngModel)]="fuel.longitude" readonly>
                            <span *ngIf=" this.longitude.hasError('required') &&  this.formValidate" class="alert redFont ">Please Enter Latitude</span>
                          </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                          <div class="control-group col-sm-6 col-sm-offset-6">
                            <input id="fuelStation_id" name="fuelStation_id" value="243" type="hidden">
                            <button type="button" class="btn btn-primary btn" (click)="submitForm()">
																				<i class="fa fa-save"></i> Save
																			</button>
                            <button class="btn btn-default" type="button" (click)="goBack()">Cancel</button>
                          </div>
                        </div>
                      </div>
                      <div class="map" id="update_addressMap">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </sa-widgets-grid>
</div>
                          
          </div>
          </div>
          </sa-widget>
        </div>
    </div>
  </sa-widgets-grid>
</div>