<app-error500 [errorname]="serviceErrorResponse" *ngIf="serviceErrorData"></app-error500>
<div [hidden]="serviceErrorData"  id="content">
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <h2>Update Load</h2>
                    </header>
                    <div class="widget-body  ">
                        <fieldset>
                            <section *ngIf="loadUpdateSuccess" class="text-success text-center"> {{loadUpdateSuccess}} </section>
                            <section *ngIf="loadUpdateFailure" class="icon-color-bad text-center"> {{loadUpdateFailure}} </section>
                            <br>

                            <form class="form truckUpdateForm" [formGroup]="complexForm" (ngSubmit)="updateLoadData(complexForm.value)" name="truckUpdateForm"
                                id="truckUpdateForm" method="post">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label">
                                                Load Number
                                                <font class="icon-color-bad">*</font>
                                            </label>
                                            <div class="controls col-sm-6">
                                                <input class="form-control" placeholder="Load number" type="text" id="loadNum" name="loadNum" [(ngModel)]="load.apptNbr"
                                                    [formControl]=" this.loadNum" readonly>
                                                <span *ngIf=" this.loadNum.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please enter load number </span>
                                                <span *ngIf=" this.loadNum.hasError('pattern') " class="icon-color-bad">Please enter numbers only</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label class="form-control highLoad">
                                            <input id="load_high_value" type="checkbox" class="i-checks" [(ngModel)]="load.highValueLoad" [ngModelOptions]="{standalone: true}"
                                                name='highValueLoad' (ngModelChange)="load.highValueLoad=$event?'1':'0'"> High Value
                                        </label>
                                    </div>
                                </div>
                                <br>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="vendorNum">
                                                Vendor
                                                <font class="icon-color-bad">*</font>
                                            </label>
                                            <div class="controls col-sm-6">
                                                <select class="form-control" id="vendorNum" name="vendorNum" (change)="getDriversByVendorNum(vendorId)" [formControl]="this.vendorNum"
                                                    [(ngModel)]="vendorId">
                                                    <option value='' disabled>Select vendor</option>
                                                    <option *ngFor="let vendor of vendorsList" [value]="vendor.vendorNbr">{{vendor.vendorName}}</option>
                                                </select>
                                                <span *ngIf="this.vendorNum.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select vendor name</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-control highPriority">
                                            <input id="load_high_priority" type="checkbox" class="i-checks" [(ngModel)]="load.highPriorityLoad" [ngModelOptions]="{standalone: true}"
                                                name='highPriorityLoad' (ngModelChange)="load.highPriorityLoad=$event?'1':'0'"> High Priority
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="driverId">
                                                Driver
                                                <font class="icon-color-bad">*</font>
                                            </label>
                                            <div class="controls col-sm-6">
                                                <select class="form-control" id="driverId" name="driverId" [formControl]="this.driverId" [(ngModel)]="driverNum">
                                                    <option value='' disabled>Select driver</option>
                                                    <option *ngFor="let driver of driverList" [value]="driver.id">{{driver.firstName}}</option>
                                                </select>
                                                <span *ngIf="this.driverId.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select driver name</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="originNum">
                                                Pickup Location
                                                <font class="icon-color-bad">*</font>
                                            </label>
                                            <div class="controls col-sm-6">
                                                <select class="form-control" id="originNum" name="originNum" [formControl]="this.originNum" [(ngModel)]="orignlocAddrName">
                                                    <option value='' disabled>Select pickup location</option>
                                                    <option *ngFor="let location of locationList" [value]="location.locNbr">{{location.locAddrName}}</option>
                                                </select>
                                                <span *ngIf="this.originNum.hasError('pattern') &&  this.formValidate" class="icon-color-bad ">Please select pickup location</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>





                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="destinNum">
                                                Destination Location
                                                <font class="icon-color-bad">*</font>
                                            </label>
                                            <div class="controls col-sm-6">
                                                <select class="form-control" id="destinNum" name="destinNum" [formControl]="this.destinNum" [(ngModel)]="destAddrName">
                                                    <option value='' disabled>Select destination location</option>
                                                    <option *ngFor="let location of locationList" [value]="location.locNbr">{{location.locAddrName}}</option>
                                                </select>
                                                <span *ngIf="this.destinNum.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select destination location</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>




                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="appointmentye">
                                                Appointment Type
                                                <font class="icon-color-bad">*</font>
                                            </label>
                                            <div class="controls col-sm-6">
                                                <select class="form-control" id="appointmentye" name="appointmentye" [formControl]="this.appointmentye" [(ngModel)]="appointmentypeId">
                                                    <option value='' disabled>Select appointment type</option>
                                                    <option *ngFor="let appointment of appointmentTypesList" [value]="appointment.id">{{appointment.type}}</option>
                                                </select>
                                                <span *ngIf="this.appointmentye.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please select appointment type</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="geomile">
                                                Geofence Miles
                                            </label>
                                            <div class="controls col-sm-6">
                                                <input class="form-control" type="text" id="geomile" name="geomile" size="30" [(ngModel)]="load.geomiles" [formControl]=" this.geomile"
                                                    placeholder="Geofence miles">
                                                <span *ngIf=" this.geomile.hasError('pattern')" class="icon-color-bad">Please enter valid number between 5 and 150 only</span>
                                                <span *ngIf=" this.geomile.hasError('required')  &&  this.formValidate" class="icon-color-bad ">Please enter geofence miles </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <label class="col-sm-4 control-label" for="cartons">
                                                No.of cartons
                                            </label>
                                            <div class="controls col-sm-6">
                                                <input class="form-control" type="text" id="cartons" placeholder="No.of cartons" name="cartons" size="30" [(ngModel)]="load.cartons"
                                                    [formControl]=" this.cartons">
                                                <span *ngIf=" this.cartons.hasError('pattern')" class="icon-color-bad">Please enter valid number between 1 and 150 only</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>


                                <div class="smart-form">
                                    <footer>
                                        <div class="row">

                                            <div class="control-group col-sm-5 col-sm-offset-5">
                                                <button (click)="goBack()" class="btn btn-warning">Cancel</button>
                                                <button type="submit" class="btn btn-success">
                                                    Update</button>

                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </sa-widget>
            </div>
        </div>
    </sa-widgets-grid>
</div>
